<html>
    <head>
        <title>Setup</title>
        <link rel="stylesheet" href="/static/css/setup.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>


    <body>
        <div class="setup">
            <h1>Setup Adhan Scheduler</h1>
            <h4>To get started please enter the name of your Sonos speaker below:</h4>

            <form action="{{ url_for('process') }}" method='POST' name="SETUP">
                <input type=text name="speaker" id="speaker"><BR>

                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="60" class="slider" id="myRange" name="volume">
                    <p>Volume: <span name="volume", id="volume"></span></p>
                </div>

                <input type=submit value="Setup" class="button" id="button">
                <label class="error">Error: Unable to find the Sonos speaker.</label>
            </form>
        </div>
    </body>

    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("volume");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
    </script>

    <script>
        $('#button').click(function () {
            let volume_level = $("#myRange").val();
            let speaker_name = $("#speaker").val();
            
            localStorage.setItem("volume", volume_level);
            localStorage.setItem("speaker", speaker_name);

            $.ajax({
                method: 'POST',
                url: '/process',
                dataType: 'json',
                contentType: 'application/json',
                traditional: true,
                data: JSON.stringify(localStorage)
            });
        });
    </script>
</html>